<div class="form-group row">
  <label class="col-form-label col-sm-3" for="start">Enter Starting Number</label>
  <div class="col-sm-6">
    <input type="number" class="form-control" name="start" value="<%= model.editor.start %>" />
  </div>
  <div>(required)</div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-3" for="end">Enter Ending Number</label>
  <div class="col-sm-6">
    <input type="number" class="form-control" name="end" value="<%= model.editor.end %>" />
  </div>
  <div>(required)</div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-3" for="increment">Enter Increment</label>
  <div class="col-sm-6">
    <input type="number" class="form-control" name="increment" value="<%= model.editor.increment %>" />
  </div>
  <div>(required)</div>
</div>
